<div class="row">
  <div class="col-4">
    <app-card-package-item [title]="'إنشاء المنصات التعليمية'" class="card card-xl-stretch mb-xl-8"
                      image="assets/media/accept.svg"></app-card-package-item>
  </div>
  <div class="col-4">
    <app-card-package-item [title]="'الشهادات الإلكترونية'"  class="card card-xl-stretch mb-5 mb-xl-8"
                           image="assets/media/booking.svg"></app-card-package-item>
  </div>
  <div class="col-4">
    <app-card-package-item [title]="'الاستشارات التقنية'" class="card card-xl-stretch mb-5 mb-xl-8" image="assets/media/booking-success.svg"></app-card-package-item>
  </div>
</div>
